---
import TheExperience from './TheExperience.vue';
---

<div class="w-full relative">
  <TheExperience client:load />
  <div class="w-full top-0 absolute">
    <div class="container mx-auto my-10 w-full max-w-[1000px] grid grid-cols-1 sm:grid-cols-2 z-10">
      <div class="p-8">
        <h1 class="text-light">Hi I'm Houston</h1>
        <p class="text-light">I'm your computer-onboard and I will assist you in your journey through space</p>
        <button class="bg-violet-700 outline-0 border-none p-4 rounded font-bold text-white">Get Started</button>
      </div>
    </div>
  </div>
</div>